@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/img/prism.jpg");
  background-size: cover;
  background-position: right;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
